<div class="col-lg-12">
  <h1 class="text-center">CONSULTA PICO Y PLACA</h1>
</div>
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-1">
      <label>Nro.Placa:</label>
    </div>
    <div class="col-lg-2">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="num_placa"
        placeholder="Ingrese el numero de placa"
        maxlength="8"
      />
    </div>
    <div class="col-lg-1">
      <label>Fecha:</label>
    </div>
    <div class="col-lg-3">
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Escoje una fecha"
        [(ngModel)]="date"
        readonly="true"
        class="form-control"
        style="width: 80% !important;display: inline-block;"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div class="col-lg-1">
      <label>Hora:</label>
    </div>
    <div class="col-lg-2">
      <input type="time" [(ngModel)]="time" class="form-control" />
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="row" style="display: flex;align-items: center;">
    <div class="col-lg-3" style="margin: auto;">
      <button class="byn btn-primary" (click)="onSend()">SOLICITAR</button>
    </div>
  </div>
</div>
